body {
    background-color: #ffffff;
    font-size: 10pt;
}

#document {
	margin: 10px;
    margin-left: 15px;
	background-color: #ffffff;
    width: 720px;
}

#header {
    padding: 10px;
    font-size: 16pt;
}

#content {
	padding: 25px;
}

#prompt {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #000000;
}

#subprompt {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
}

#component {
	position: relative;
	width: 100%;
	padding: 5px;
}

#radiobutton {
	position: absolute;
	top: 8px;
}

#checkbox {
	position: absolute;
	top: 8px;
}

#textfield {
	position: relative;
	left: 30px;
}

#textarea {
	position: relative;
	left: 30px;
}

#fileupload {
	position: relative;
	left: 30px;
}

#select {
	position: relative;
	left: 30px;
}

#submit {
	position: relative;
	border-top: 1px solid #000000;
	padding-left: 10px;
	padding-top: 10px;
}

#label {
	position: relative;
	font-size: 12px;
	font-weight: bold;
	left: 30px;
	margin-right:30px;
}

#description {
	position: relative;
	font-size: 11px;
	left: 30px;
	margin-right:30px;
}
