<?xml version="1.0"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Browser VPN</display-name>
    <description>
    Yo!
    </description>

    <servlet>
        <servlet-name>myproxy</servlet-name>
        <servlet-class>BrowserVPNServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>myproxy</servlet-name>
        <url-pattern>/myproxy/*</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>AppControl</servlet-name>
        <servlet-class>com.strand3.app.AppControl</servlet-class>
        <init-param>
            <param-name>defaultClass</param-name>
            <param-value>com.strand3.manager</param-value>
        </init-param>
        <init-param>
            <param-name>viewsDir</param-name>
            <param-value>/views/</param-value>
        </init-param>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>AppControl</servlet-name>
        <url-pattern>/App/*</url-pattern>
    </servlet-mapping>

  	<!-- Define the Java Standard Tag Library (JSTL) -->
  	<taglib>
   		<taglib-uri>http://jakarta.apache.org/taglibs/input-1.0</taglib-uri>
   		<taglib-location>/WEB-INF/taglibs-input.tld</taglib-location>
  	</taglib>
<!-- 
    <servlet>
        <servlet-name>jspAssign</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>logVerbosityLevel</param-name>
            <param-value>WARNING</param-value>
        </init-param>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>jspAssign</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
--> 
</web-app>